body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    height: 150px;
    background-color: #FFF;
    text-align: center;
    padding: 50px;
}

nav {
   background-color: rgba(248, 245, 245, 0.9);
}

nav li {
    margin-right: 2em;
    padding-top: 4px;
    padding-bottom: 8px;
 
}


nav a {
    font-weight: 500;
    color: #b10606;
    font-size: 18px;
    display: inline-block !important;
    border-bottom: 3px solid rgba(177,6,6, 0.0);
    transition: border .5s ease;
}

nav a:hover {
    color: #b10606;
    border-bottom: 3px solid rgba(177,6,6, 1);
}


footer {
    background-color: grey;
    text-align: center;
    margin-top: 2em;
}

form {
    box-shadow: 0px 0px 15px grey;
    border-radius: 0.5em;
    padding: 2em;
}

label {
    font-weight: bold;
}

.mainSection {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
}

.mainSection h4 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.landingMain article {
    background-color: rgba(221, 214, 214, 0.3);
    border-radius: 1em;
    padding: 0;
}

.landingMain h3, p {
    padding: 1em;
}

.landingMain section {
    margin-bottom: 1em;
}

.navbar .navbar-nav {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.dropdown-menu {
    background-color: rgba(248, 245, 245, 0.9);
    border: 0;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-item {
    color: #b10606;
    background-color:  rgba(177,6,6, 0);
    transition: background-color 0.5s ease;
    border: 0;
}

.dropdown-item:hover {
    color: white;
    background-color:  rgba(177,6,6, 1);
    border: 0;
}

.activated {
    border-bottom: 3px solid #b10606;
}

.dropdown-activated {
    color: white;
    background-color: #b10606;
}


.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(177,6,6, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler:focus {
    outline: none;
    box-shadow: none
}

.row {
     flex-wrap: wrap;
     margin-bottom: 1em;
}

.row > [class*='col-'] {
     display: flex;
     flex-direction: column;
}

.lineContent {
    color: #000;
    text-align: center;
    height: 230px;
    width: 60%;
    margin: auto;
    padding-left: 1em;
    padding-right: 1em;
    font-size: x-large;
    font-style: italic;
    background-color: rgba(248, 245, 245, 0.9);
    border-radius: 0.5em;
    line-height: 230px;
}

.lineText {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.button-links {
    background-color: #b10606;
    color: white;
    margin: auto;
    box-shadow: 2px 4px 10px black;
}

.button-links:hover {
    color: #b10606;
    background-color: #FFF;
    border: 1px solid #b10606;
}

.galleryMain img {
    width: 100%;
    max-height: 150px;
    margin-bottom: 1em;
    margin-top: 1em;
    box-shadow: 2px 1px 5px black;
    border-radius: 4px;
}

.galleryMain img:hover {
    cursor: zoom-in;
}

.colRed {
    color: #b10606;
    text-shadow: 1px 0px 2px black;
}

div.overflowHidden {
    height: 200px;
    border-radius: 1em;
    overflow: hidden;
}

.contact-list ul {
    padding-left: 0%;
}

.contact-list li {
    list-style: none;
}

.fa-facebook, .fa-instagram {
    margin-top: 12px;
    font-size: 2em;
}

.fa-instagram {
    color: transparent;
  background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

#roofImage, #deckImage, #kitchenImage, #bathImage {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform .4s;
}

#roofImage {
     background-image: url('https://www.shawnsroofing.ca/uploads/Uaz37f4b/7.jpg');
}

#deckImage {
    background-image: url('https://www.thespruce.com/thmb/6OHNW2Cg9PlqosJnwQzV-zwwNYQ=/3000x2000/filters:fill(auto,1)/GettyImages-912332782-5b0eb522eb97de003785a7a0.jpg');
}

#kitchenImage {
    background-image: url('https://hgtvhome.sndimg.com/content/dam/images/hgtv/fullset/2018/4/23/1/HUHH2018-Curb-Appeal_Seattle-WA_11.jpg.rend.hgtvcom.966.644.suffix/1524514638493.jpeg');
}

#bathImage {
    background-image: url('https://hgtvhome.sndimg.com/content/dam/images/hgtv/fullset/2017/8/15/0/IO_Lindye-Galloway_Blue-Herringbone-Bath_2.jpg.rend.hgtvcom.966.644.suffix/1502815658591.jpeg');
}

#roofImage:hover, #deckImage:hover, #kitchenImage:hover, #bathImage:hover {
    transform: scale(1.5);
}

#mainService {
    margin-top: 1em;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-top: 2em;
    padding-bottom: 2em;
    min-height: 350px;
}

#mainService h5 {
    color: #b10606;
    font-weight: bolder;
}

#imageLineOne {
    background-image: url('https://www.ecohome.net/media/articles/images/91/71/9171dba55e952c47c1c7ffa87524e0820510c3dc/thumbs/G41F4GzRqeJd_1200x500_ZBprRkQU.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2em;
    padding-top: 60px;
    height: 350px;
}

#imageRoofing {
    background-image: url('https://inhabitat.com/wp-content/blogs.dir/1/files/2018/04/3-in-1-Roof-tiles-installed.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 3px 0 3px black;
}

#imageDeck {
    background-image: url('https://www.decks.ca/wp-content/plugins/Decks-Franchise-Page/assets/img/franchise_banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 3px 0 3px black;
}

#imageBath {
    background-image: url('https://17tsfx1l50ce12z9pg3v60nc-wpengine.netdna-ssl.com/wp-content/uploads/2018/03/condos-08-2048x1024.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 3px 0 3px black;
}

#roof-content img, #deck-content img, #renovation-content img {
    width: 100%;
    box-shadow: 3px 3px 5px black;
    border-radius: 8px;
}

#carouselTestimonials {
    margin-top: 3em;
    margin-bottom: 2em;
    padding: 4em;
    border-radius: 2em;
    min-height: 240px;
    background-color: rgba(100, 98, 98, 0.2);
    box-shadow: 2px 2px 10px grey;
}

#carouselTestimonials h6 {
    margin-top: 2em;
}

#modal-container {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#carousel-modal {
    background-color: #fefefe;
    margin-right: auto; /* 15% from the top and centered */
    margin-left: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 75%;
    height: auto;
    position: relative;
    top: calc(50% - 25px);
    top: -moz-calc(50% - 25px);
    top: -webkit-calc(50% - 25px);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}

#exit {
    position: absolute;
    right: 0;
    margin-right: 1.5em;
    color: white;
    font-size: 1.5em;
    text-shadow: 1px 0px 2px black;
    cursor: pointer;
}

#carousel-modal img {
    width: 100%;
    max-height: 80vh;
}

@media only screen and (max-width: 768px) {
    #carousel-modal {
      width: 100%;
    }
  }