# mod_rewrite starts here

RewriteEngine on

# does not apply to existing directories, meaning if the folder exists on the server then don't change anything and din't run the rule!

RewriteCond %{REQUEST_FILENAME} !-d

# Check for file with .html extension, if file doesn't exist, don't run the rule

RewriteCond %{REQUEST_FILENAME}\.html -f

# Show the page that has the .html extension

RewriteRule ^(.*)$ $1.html [NC, L]